<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'Shelby/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

    <header>
            <nav class="NavBar">
                <button class="NavBar" >
                    <a class="Inicio" href="/"><h5>Inicio</h5></a>
                </button>
            </nav>
     
    </header>
<body>
        {% block contenido %}
        {% endblock %}
    
</body>
    
</body>


</html>