{% extends 'base.html' %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
<a href="{% url 'create-suppliers' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-top: 5rem;margin-left: 5rem; width:15rem; height: 10rem; position: fixed; padding-top: 4rem; text-align: center;">Cargar proveerdor</a>
<a href="{% url 'see-suppliers' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-top: 5rem;margin-left: 25rem; width:15rem; height: 10rem; position: fixed; padding-top: 4rem; text-align: center;">Ver proveedores</a>
<a href="{% url 'create-orden-products' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-top: 20rem;margin-left: 5rem; width:15rem; height: 10rem; position: fixed; padding-top: 4rem; text-align: center;">Cargar pedido</a>
<a href="{% url 'see-order' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-top: 20rem;margin-left: 25rem; width:15rem; height: 10rem; position: fixed; padding-top: 4rem; text-align: center;">Ver pedidos</a>

{% endblock %}