{% extends 'base.html' %}

{% block titulo %}
Proovedores
{% endblock %}

{% block contenido %}
<h1></h1>
<div >
    
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Proveedores</th>
            <th scope="col">Nombre</th>
            <th scope="col">Productos</th>
            <th scope="col">Debe</th>
            <th scope="col">Haber</th>
          </tr>
        </thead>
    {% for supplier  in  suppliers %}
        <tbody>
          <tr>
            <th scope="row">*</th>
            <td>{{supplier.Nombre}}</td>
            <td>{{supplier.Productos}}</td>
            <td>{{supplier.Debe}}</td>
            <td>{{supplier.Haber}}</td>
          </tr>
        </tbody>
    {% endfor %}
      </table>
</div>
<br>
<br>

{% endblock %}
